@import "tailwindcss";

html, body {
  @apply bg-white overflow-x-hidden;
  font-family: 'Roboto Slab', serif;
}










/*ANIMATE SERVICES PNG*/
@keyframes rock {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.animate-rock {
  animation: rock 3s infinite ease-in-out;
}
